h1 {
	font-family: cursive;
	text-align: center;
}

.card {
	display: inline-block;
	height: 250px;
	margin: auto;
	width: 150px;
}
	
.content {
	display: block;
	text-align: center;
}

.face-down {
	background-color: blue;
}

.face-up {
	background-color: purple;
}