body {
	background-image: url("pattern.png");
}

button {
	text-align: center;
	clear: both;
}
	
h1 {
	background-color: #151515;
	color: #686A69;
	font-family: cursive;
	margin-bottom: 0;
	padding: 15px 0 15px 0;
	text-align: center;
}

.card {
	color: #A3A3A3;
	display: inline-block;
	height: 250px;
	margin: auto;
	padding: 15px;
	vertical-align: top;
	width: 150px;
}
	
.content {
	background-color: #151515;
	display: block;
	font-family: sans-serif;
	padding-bottom: 50px;
	text-align: center;
}

.face-down {
	background-color: #565656;
}

.face-up {
	background-color: #2B2B2B;
}